@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], 
[data-theme=dark] *));

@theme {
    --color-btn-dark: #323241;
    --color-btn-dark-hv: #32328b;
    --color-btn-light: #87ceeb;
    --color-btn-light-hv: #add8e6;
    --color-txt-dark: #dedede;
    --color-txt-light: #333;
    --color-page-dark: #232323;
    --color-page-light: #f3f3f3;
}